/*  OpenDyslexic (police pour dyslexiques)
-------------------------------------------------- */
@font-face {
    font-family: OpenDyslexic;
    src: url('../fonts/opendyslexic-webfont.woff2') format('woff2'),
         url('../fonts/opendyslexic-webfont.woff') format('woff');
}



/*  Mise en page globale
-------------------------------------------------- */
body {
    margin: 0;
    background: #ced8db;
    font-family: OpenDyslexic;
}

#navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #555;
    color: #eee;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#infos-left {
    float: left;
    height: 50px;
    width: 180px;
    line-height: 0.5em;
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    /*background-color: #FF6699;*/
}
#infos-right {
    float: right;
    height: 50px;
    width: 150px;
    line-height: 1.5em;
    font-size: 1em;
    cursor: pointer;
}
#infos-right:hover {
    background-color: #ec971f;
}

#container {
    min-width: 100%;
    overflow: hidden;
}


/*  Position du container 
    en fonction de la largeur de l'écran
-------------------------------------------------- */
@media (min-width: 601px) {
    div#container {
        padding-top: 0px;
    }
}
@media (max-width: 600px) {
    div#container {
        padding-top: 50px;
    }
}



/*  Boutons
-------------------------------------------------- */
#tools-buttons {
    float: left;
    padding-left: 5px;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn {
    width: 55px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    background-color: #f0ad4e;
    border-color: transparent;
}
.btn:hover {
    background-color: #ec971f;
    border-color: rgba(0, 0, 0, 0);
}
.btn-warning, 
.btn-warning:hover, 
.btn-warning:focus {
    color: #ffffff;
}
.btn-false, 
.btn-false:hover, 
.btn-false:focus {
    color: #f20e39;
}
.btn-true, 
.btn-true:hover, 
.btn-true:focus {
    color: #42ea15;
}

