/*  OpenDyslexic (police pour dyslexiques)
-------------------------------------------------- */
@font-face {
    font-family: OpenDyslexic;
    src: url('../fonts/opendyslexic-webfont.woff2') format('woff2'),
         url('../fonts/opendyslexic-webfont.woff') format('woff');
}



/*  Mise en page globale
-------------------------------------------------- */
body {
    margin: 0;
    background: #eee;
    font-family: OpenDyslexic;
}

#navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #555;
    color: #eee;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#infos-right {
    float: right;
    height: 50px;
    width: 150px;
    line-height: 1.5em;
    font-size: 1em;
    cursor: pointer;
}
#infos-right:hover {
    background-color: #ec971f;
}

#container {
    /*background-color: #FF6699;*/
    min-width: 80%;
    overflow: hidden;
    text-align: left;
}



/*  Position du container 
    en fonction de la largeur de l'écran
-------------------------------------------------- */
@media (min-width: 601px) {
    div#container {
        padding-top: 0px;
    }
}
@media (max-width: 600px) {
    div#container {
        padding-top: 50px;
    }
}

.figure {
    width: 100%;
    text-align: center;
}
.figure > img {
    max-width: 100%;
    height: auto;
}



/*  Boutons
-------------------------------------------------- */
#tools-buttons {
    float: left;
    padding-left: 5px;
}

.btn {
    width: 55px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
}
.btn-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: transparent;
}
.btn-warning:hover {
    background-color: #ec971f;
    border-color: rgba(0, 0, 0, 0);
}

