/*  OpenDyslexic (police pour dyslexiques)
-------------------------------------------------- */
@font-face {
    font-family: OpenDyslexic;
    src: url('../fonts/opendyslexic-webfont.woff2') format('woff2'),
         url('../fonts/opendyslexic-webfont.woff') format('woff');
}



/*  Mise en page globale
-------------------------------------------------- */
body {
    margin: 0;
    background: #ced8db;/*#ccc;*/
    font-family: OpenDyslexic;
}

#navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #555;
    color: #eee;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#tools-buttons {
    float: left;
}
#infos-left {
    float: left;
    height: 50px;
    width: 180px;
    line-height: 0.5em;
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    /*background-color: #FF6699;*/
}
#infos-right {
    float: right;
    height: 50px;
    width: 150px;
    line-height: 1.5em;
    font-size: 1em;
    cursor: pointer;
}
#infos-right:hover {
    background-color: #ec971f;
}

#container {
    min-width: 100%;
    overflow: hidden;
    text-align: left;
}

#randomNB {
    width: 70px;
}

.fixed-bottom {
    background-color: #ced8db;
    height: 60px;
}



/*  Position du container 
    en fonction de la largeur de l'écran
-------------------------------------------------- */
@media (min-width: 601px) {
    div#container {
        padding-top: 0px;
    }
}
@media (max-width: 600px) {
    div#container {
        padding-top: 50px;
    }
}



/*  Path et boutons
-------------------------------------------------- */
.path:hover {
    cursor: pointer;
}

.subdir {
    margin: 3px;
}

.btn-tools {
    width: 55px;
    height: 45px;
}


