/* -----------------------------------------------
--------------------------------------------------
    POLICES POUR DYSLEXIQUES
        * OpenDyslexic pour les titres
        * Andika pour le texte
--------------------------------------------------
-------------------------------------------------- */
@font-face {
    font-family: OpenDyslexic;
    src: url('fonts/opendyslexic-webfont.woff2') format('woff2'),
         url('fonts/opendyslexic-webfont.woff') format('woff');
}





/* -----------------------------------------------
--------------------------------------------------
    MISE EN PAGE GLOBALE
--------------------------------------------------
-------------------------------------------------- */
/*
#content {
    background: #ced8db;
}
*/
h1, h2, h3 {
    font-family: OpenDyslexic;
}


/* affichage des images et vidéos */
.figure {
    text-align: center;
}
.figure img {
    max-width: 70%;
    height: auto;
}


