/* -----------------------------------------------
--------------------------------------------------
    POLICES POUR DYSLEXIQUES
        * OpenDyslexic pour les titres
        * Andika pour le texte
--------------------------------------------------
-------------------------------------------------- */
@font-face {
    font-family: OpenDyslexic;
    src: url('fonts/opendyslexic-webfont.woff2') format('woff2'),
         url('fonts/opendyslexic-webfont.woff') format('woff');
}
@font-face {
    font-family: Andika;
    src: url('fonts/Andika-R.woff') format('woff');
}



/* -----------------------------------------------
--------------------------------------------------
    MISE EN PAGE GLOBALE
--------------------------------------------------
-------------------------------------------------- */
html { font-size: 150%; }

h1 { font-size: 100px; font-size: 10rem; }
h2 { font-size: 60px; font-size: 6rem; }
h3 { font-size: 40px; font-size: 4rem; }
h4 { font-size: 30px; font-size: 3rem; }
h5 { font-size: 28px; font-size: 2.8rem; }
h6 { font-size: 24px; font-size: 2.4rem; }
p { font-size: 18px; font-size: 1.8rem; }
li { font-size: 14px; font-size: 1.4rem; }
pre, code { font-size: 14px; font-size: 1.4rem; }

body {
    text-align: center;
    font-family: Andika;
}

h1, h2, h3, h4 {
    font-family: OpenDyslexic;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
p {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
pre {
    margin-left: 5em;
    margin-right: 5em;
    text-align: left;
}
ul, ol {
    list-style-position: inside;
}
li {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 3em;
    line-height: 1.8em;
    text-align: left;
}



/* -----------------------------------------------
--------------------------------------------------
    DES TRUCS À NE PAS SUPPRIMER
        indispensables pour faire fonctionner
        les présentations
--------------------------------------------------
-------------------------------------------------- */

/* aligné à gauche ou à droite */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* affichage des images et vidéos */
.figure {
    text-align: center;
}
.figure > img {
    max-width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
}

hr {
    page-break-before: always;
    opacity: 0;
}


.content {
    margin: auto;
    /*background-color: yellow;*/
}

.middle {
    position: relative;
    /*background-color: blue;*/
    display: table-cell;
    vertical-align: middle;

    top: 0px;
    height: 690px;
    left: 10px;
    width: 1100px;
}



/* -----------------------------------------------
--------------------------------------------------
    VERSION IMPRIMABLE
        pour l'export PDF
--------------------------------------------------
-------------------------------------------------- */
@media print {
    hr {
        page-break-before: always;
        opacity: 0;
    }
    @page {
        size: landscape;
    }
}

