

body {
    text-align: center;
}

.content {
    margin: auto;
}



hr {
    page-break-before: always;
    opacity: 0;
}



img {
    max-width: 100%;
    height: auto;
}



table {
    width: 100%;
    padding: 20px;
}
td {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    width: 33%;
    height: 300px;
}
.question {
    background-color: #eeeeee;
}
.response {
    border: 0px solid white;
}
.vide {
    border: 0px solid white;
}



/* -----------------------------------------------
--------------------------------------------------
    VERSION IMPRIMABLE
        pour l'export PDF
--------------------------------------------------
-------------------------------------------------- */
@media print {
    @page {
        size: portrait;
    }
    hr {
        page-break-before: always;
        opacity: 0;
    }
}

