/*  OpenDyslexic (police pour dyslexiques)
-------------------------------------------------- */


/*  Mise en page globale
-------------------------------------------------- */
body {
    margin: 0;
    background: #ced8db;/*#ccc;*/
}

#navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #555;
    color: #eee;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#tools-buttons {
    float: left;
}
#infos-left {
    float: left;
    height: 50px;
    width: 180px;
    line-height: 0.5em;
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    /*background-color: #FF6699;*/
}
#infos-right {
    float: right;
    height: 50px;
    width: 150px;
    line-height: 1.5em;
    font-size: 1em;
    cursor: pointer;
}
#infos-right:hover {
    background-color: #ec971f;
}

#container {
    min-width: 100%;
    overflow: hidden;
    text-align: left;
}



/*  Position du container 
    en fonction de la largeur de l'écran
-------------------------------------------------- */
@media (min-width: 601px) {
    div#container {
        padding-top: 0px;
    }
}
@media (max-width: 600px) {
    div#container {
        padding-top: 50px;
    }
}



/*  Path et boutons
-------------------------------------------------- */
.path:hover {
    cursor: pointer;
}

.btn {
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    line-height: 1;
}
.btn-lg {
    font-size: 28px;
}
.btn-default {
    color: #377cb8;
    background-color: #f5f5f5;
}
.btn-default:hover {
    color: #23527c;
}
.btn-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: transparent;
}
.btn-warning:hover {
    background-color: #ec971f;
    border-color: rgba(0, 0, 0, 0);
}

